@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --backgroundcolor-1: rgb(97, 131, 255);
    --light-gray: rgb(236, 235, 235);
    --light-blue: rgb(141, 190, 255);
    --white: #FFFFFF;
    --footercolor-1: rgb(51, 95, 255);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: var(--light-blue);
    position: fixed;
    width: 100%;
    border-bottom: 2px solid var(--backgroundcolor-1);
    height: 50px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}

header i {
    font-size: 30px;
}

header a {
    color: inherit;
    display: block;
    height: fit-content;
}

#burgerx {
    display: none;
}

#burger,
#burgerx:hover {
    cursor: pointer;
}

.burgermeny {
    display: none;
}

.burgermeny.visburger {
    display: flex;
    height: calc(100vh - 49px);
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: absolute;
    top: 49px;
    right: 0;
    padding: 40px;
    position: fixed;
}


.burgermeny h1 {
    color: #FFFFFF;
}

.burgermeny a {
    text-decoration: none;
    color: #FFFFFF;
}

#hero {
    background-image: url(bilder/alpint_1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroh1 {
    font-size: 100px;
    color: var(--light-gray);
}

#hero.disiplinHero {
    background-image: url(bilder/SL_bilde.jpg);
    height: calc(100vh - 50px);
    margin-top: 50px;

}

.disiplinHero h1 {
    color: var(--white);
    font-size: 100px;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.index section {
    height: calc(100vh - 50px);
}

#s2 {
    background-color: var(--backgroundcolor-1);
    background: linear-gradient(to top, var(--backgroundcolor-1), var(--light-blue));
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.d1,
.d2,
.d3,
.d4 {
    height: 90vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.pdiv {
    border: 1px solid var(--light-blue);
    border-radius: 5px;
    background-color: var(--light-blue);
    padding: 5px;
    width: 80%;


}

.divbilde {
    width: 80%;
    border-radius: 20px;
    margin: auto;
}

.divbilde:hover {
    transition: 0.2s ease;
    transform: scale(1.05);
}

.divH2 {
    color: var(--white);
    font-size: 35px;
}

footer {
    background-color: var(--footercolor-1);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div i {
    font-size: 20px;
}

footer div i:hover {
    cursor: pointer;
    transition: 0.1s ease;
    transform: scale(1.2);
}

/* DETTE ER TIL DISIPLINER-SIDEN */

#ds2 {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#scrollbar {
    overflow-x: auto;
    white-space: nowrap;
    width: 1000px;
}

.innhold {
    display: inline-flex;
    gap: 25px;
}

.disiplin {
    width: 450px;
    height: 500px;
    background-color: var(--light-blue);
    display: inline-block;
    border: 1px solid darkblue;
}

button:hover {
    cursor: pointer;
}


@media (width < 600px) {
    #s2, #ds2 {
        flex-direction: column;
        height: 150vh;
    }

    .d1,
    .d2,
    .d3,
    .d4 {
        height: 70vh;
        width: 60%;
    }
}