@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --backgroundcolor-1: rgb(97, 131, 255);
    --light-gray: rgb(236, 235, 235);
    --light-blue: rgb(141, 190, 255);
    --white: #FFFFFF;
    --footercolor-1: rgb(51, 95, 255);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: var(--light-blue);
    position: fixed;
    width: 100%;
    border-bottom: 2px solid var(--backgroundcolor-1);
    height: 50px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}

header i {
    font-size: 30px;
}

header a {
    color: inherit;
    display: block;
    height: fit-content;
}

#burgerx {
    display: none;
}

#burger,
#burgerx:hover {
    cursor: pointer;
}

.burgermeny {
    display: none;
}

.burgermeny.visburger {
    display: flex;
    height: calc(100vh - 49px);
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: absolute;
    top: 49px;
    right: 0;
    padding: 40px;
    position: fixed;
    z-index: 5;
}


.burgermeny h1 {
    color: #FFFFFF;
}

.burgermeny a {
    text-decoration: none;
    color: #FFFFFF;
}

#disp, #wc, #medie {
    position: relative;
    display: inline-block;
}

#disp::after, #wc::after, #medie::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}   

#disp:hover::after, #wc:hover::after, #medie:hover::after {
    transform: scaleX(1);
}


#hero {
    background-image: url(bilder/alpint_1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroh1 {
    font-size: 100px;
    color: var(--light-gray);
}

#hero.disiplinHero {
    background-image: url(bilder/SL_bilde.jpg);
    height: calc(100vh - 50px);
    margin-top: 50px;

}

.disiplinHero h1 {
    color: var(--white);
    font-size: 100px;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.index section {
    height: calc(100vh - 50px);
}

#s2 {
    background-color: var(--backgroundcolor-1);
    background: linear-gradient(to top, var(--backgroundcolor-1), var(--light-blue));
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.d1,
.d2,
.d3,
.d4 {
    height: 90vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.pdiv {
    border: 1px solid var(--light-blue);
    border-radius: 5px;
    background-color: var(--light-blue);
    padding: 5px;
    width: 80%;


}

.divbilde {
    width: 80%;
    border-radius: 20px;
    margin: auto;
}

.divbilde:hover {
    transition: 0.2s ease;
    transform: scale(1.05);
}

.divH2 {
    color: var(--white);
    font-size: 35px;
}

footer {
    background-color: var(--footercolor-1);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div i {
    font-size: 20px;
}

footer div i:hover {
    cursor: pointer;
    transition: 0.1s ease;
    transform: scale(1.2);
}

/* DETTE ER TIL DISIPLINER-SIDEN */

#ds2 {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

#scrollbar {
    overflow-x: auto;
    width: auto;
    max-width: 1000px;
}

.innhold {
    display: inline-flex;
    gap: 25px;
}

.disiplin {
    width: 450px;
    height: 500px;
    background-color: var(--light-blue);
    display: inline-block;
    border: 1px solid darkblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    vertical-align: top;
}

.disiplin-innhold {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.tekstboks {
    position: relative;
    max-height: 150px;
    overflow: hidden;
}

.tekstboks::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--light-blue) 50%);
}

.tekstboks.open {
    height: auto;
    overflow: visible;
}

.tekstboks.open::after {
    display: none;
}

button:hover {
    cursor: pointer;
}

.disiplin img {
    height: 250px;
}

.opp, .ned {
    display: none;
}

.hoyre, .venstre {
    display: block;
}

.oppnedcontainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container button {
    border: none;
    background-color: inherit;
}

.venstre:hover, .hoyre:hover, .opp:hover, .ned:hover {
    transition: 0.3s ease;
    transform: scale(2);
}

.fikse-knappen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (width < 1000px) {
    #scrollbar {
        overflow-x: hidden;
        overflow-y: auto;
        width: auto;
        height: 600px;
    }

    .innhold {
        flex-direction: column;
    }

    .disiplin {
        width: 400px;
    }

    .opp, .ned {
        display: block;
    }

    .hoyre, .venstre {
        display: none;
    }
}

@media (width < 750px) {
    .disiplinHero h1 {
        font-size: 70px;
    }
}


@media (width < 600px) {

    #s2,
    #ds2 {
        flex-direction: column;
        height: 100vh;
    }

    .d1,
    .d2,
    .d3,
    .d4 {
        height: 70vh;
        width: 60%;
    }
}